mimmitkoodaa_UI_flow.txt
[{"id":"d106c14b.0e6f48","type":"ui_form","z":"25d46c73.3cafbc","name":"","label":"","group":"ea24c90e.5aee6","order":2,"width":0,"height":0,"options":[{"label":"URL","value":"url","type":"text","required":true},{"label":"Classifier","value":"classifier","type":"text","required":true}],"formValue":{"url":"","classifier":""},"payload":"","topic":"","x":55,"y":654,"wires":[["ccdaeef2.34c35","d543a132.c3cc08"]]},{"id":"ba42b486.b93b8","type":"function","z":"25d46c73.3cafbc","name":"default","func":"msg.payload = msg.payload.url;\nreturn msg;","outputs":1,"noerr":0,"x":401,"y":623,"wires":[["7b1d2c4b.0350a4"]]},{"id":"ccdaeef2.34c35","type":"switch","z":"25d46c73.3cafbc","name":"Classifier ID","property":"payload.classifier","propertyType":"msg","rules":[{"t":"cont","v":"default","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":235,"y":654,"wires":[["ba42b486.b93b8"],["6d66cfb1.c0b238"]]},{"id":"6d66cfb1.c0b238","type":"function","z":"25d46c73.3cafbc","name":"custom","func":"msg.params = []; \nmsg.params[\"classifier_ids\"] = \"bluemixLogo_1519378104\"; \nmsg.params[\"owners\"] = \"me\"; \nmsg.payload = msg.payload.url;\n\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":679,"wires":[["62dfbc6d.403ee4"]]},{"id":"7b1d2c4b.0350a4","type":"visual-recognition-v3","z":"25d46c73.3cafbc","name":"","apikey":"bbdf52eb3395f9481cc4748584c37c86c2044378","image-feature":"classifyImage","lang":"en","x":614,"y":623,"wires":[["f682f3bc.0366d8"]]},{"id":"9cfb9a5f.b04ee8","type":"function","z":"25d46c73.3cafbc","name":"Match parse","func":"msg.payload=\"Watson says that is a/an: \\n \";\n\n    for (var i=0; i < msg.result.images[0].classifiers[0].classes.length; i++) {\n    msg.payload += msg.result.images[0].classifiers[0].name + \" with a score of \" + msg.result.images[0].classifiers[0].classes[i].score + \"\\n\";\n    }\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":752,"wires":[["a7f9cdb5.92dfb8","66211461.f12ed4"]]},{"id":"98e4c7a4.38684","type":"switch","z":"25d46c73.3cafbc","name":"Match or no match?","property":"result.images[0].classifiers[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"false","outputs":2,"x":424,"y":777,"wires":[["9cfb9a5f.b04ee8"],["7543b358.c36144"]]},{"id":"7543b358.c36144","type":"function","z":"25d46c73.3cafbc","name":"No match","func":"msg.payload = \"Watson found no match using your custom classifier. Try again with another picture.\";\nreturn msg;","outputs":1,"noerr":0,"x":664,"y":898,"wires":[["7d9cad8b.da1884","32273648.39151a"]]},{"id":"81367b36.6c21e8","type":"comment","z":"25d46c73.3cafbc","name":"UI ","info":"","x":55,"y":594,"wires":[]},{"id":"d543a132.c3cc08","type":"ui_template","z":"25d46c73.3cafbc","group":"3f982aca.36304e","name":"Display image","order":0,"width":"6","height":"5","format":"<img width=\"32\" height=\"32\" alt=\"image\" src=\"{{msg.payload.url}}\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":85,"y":710,"wires":[[]]},{"id":"66211461.f12ed4","type":"function","z":"25d46c73.3cafbc","name":"Score","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].score*100;\nreturn msg;","outputs":1,"noerr":0,"x":677,"y":802,"wires":[["aca38a27.ae9c"]]},{"id":"7d9cad8b.da1884","type":"function","z":"25d46c73.3cafbc","name":"Score","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":677,"y":842,"wires":[["aca38a27.ae9c"]]},{"id":"62dfbc6d.403ee4","type":"visual-recognition-v3","z":"25d46c73.3cafbc","name":"","apikey":"bbdf52eb3395f9481cc4748584c37c86c2044378","image-feature":"classifyImage","lang":"en","x":602,"y":679,"wires":[["98e4c7a4.38684"]]},{"id":"f682f3bc.0366d8","type":"function","z":"25d46c73.3cafbc","name":"default parse","func":"msg.payload=\"Watson says that is a/an: \\n \";\n\n    for (var i=0; i < msg.result.images[0].classifiers[0].classes.length; i++) {\n    msg.payload += msg.result.images[0].classifiers[0].classes[i].class + \" with a score of \" + msg.result.images[0].classifiers[0].classes[i].score + \"\\n\";\n    }\nreturn msg;","outputs":1,"noerr":0,"x":857,"y":622,"wires":[["cced6c6b.451d58","a7f9cdb5.92dfb8"]]},{"id":"cced6c6b.451d58","type":"function","z":"25d46c73.3cafbc","name":"Score","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].score*100;\nreturn msg;","outputs":1,"noerr":0,"x":1034,"y":622,"wires":[["aca38a27.ae9c"]]},{"id":"aca38a27.ae9c","type":"ui_gauge","z":"25d46c73.3cafbc","name":"","group":"9b8123f0.50635","order":0,"width":0,"height":0,"gtype":"gage","title":"1st match score","label":"units","format":"{{value | number:2}}%","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":1127,"y":815,"wires":[]},{"id":"a7f9cdb5.92dfb8","type":"ui_text","z":"25d46c73.3cafbc","group":"9b8123f0.50635","order":0,"width":"6","height":"4","name":"","label":"Watson output","format":"{{msg.payload}}","layout":"col-center","x":954,"y":694,"wires":[]},{"id":"28197fef.1cd0b8","type":"ui_template","z":"25d46c73.3cafbc","group":"ea24c90e.5aee6","name":"Mimmitkoodaa","order":1,"width":"3","height":"3","format":"<img src=\"https://ohjelmistoyrittajat.fi/wp-content/uploads/2018/02/mimmitkoodaa-logo-300x300.png\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":86,"y":817,"wires":[[]]},{"id":"933d473d.162c6","type":"comment","z":"25d46c73.3cafbc","name":"Logo","info":"","x":56,"y":768,"wires":[]},{"id":"32273648.39151a","type":"link out","z":"25d46c73.3cafbc","name":"No Match out","links":["8435cae7.d8c778"],"x":798.5,"y":899,"wires":[]},{"id":"8435cae7.d8c778","type":"link in","z":"25d46c73.3cafbc","name":"No Match in","links":["32273648.39151a"],"x":781.5,"y":694,"wires":[["a7f9cdb5.92dfb8"]]},{"id":"ea24c90e.5aee6","type":"ui_group","z":"","name":"Test your app","tab":"64ec4f99.af114","order":1,"disp":true,"width":"6","collapse":false},{"id":"3f982aca.36304e","type":"ui_group","z":"","name":"Image","tab":"64ec4f99.af114","order":2,"disp":true,"width":"6","collapse":false},{"id":"9b8123f0.50635","type":"ui_group","z":"","name":"Results","tab":"64ec4f99.af114","order":3,"disp":true,"width":"6","collapse":false},{"id":"64ec4f99.af114","type":"ui_tab","z":"","name":"Mimitkoodaa","icon":"dashboard"}]