mimmitkoodaa_customClassifier_flow.txt
[{"id":"bb7566.7b2fa298","type":"visual-recognition-v3","z":"25d46c73.3cafbc","name":"","apikey":"bbdf52eb3395f9481cc4748584c37c86c2044378","image-feature":"classifyImage","lang":"en","x":455,"y":434,"wires":[["b56677c0.f7c8e","bbc2b522.2ca32"]]},{"id":"a7530bed.ab274","type":"debug","z":"25d46c73.3cafbc","name":"","active":true,"console":"false","complete":"payload","x":1055,"y":414,"wires":[]},{"id":"69ea63d8.73b71c","type":"inject","z":"25d46c73.3cafbc","name":"Positive","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":115,"y":374,"wires":[["57aa1533.e17b94"]]},{"id":"57aa1533.e17b94","type":"function","z":"25d46c73.3cafbc","name":"Define the classifier ID","func":" msg.params = []; \n msg.params[\"classifier_ids\"] = \"YOUR_CLASSIFIER_ID\"; \n msg.params[\"owners\"] = \"me\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":374,"wires":[["bb7566.7b2fa298"]]},{"id":"9f951b1.2ebdbe8","type":"comment","z":"25d46c73.3cafbc","name":"Test your own classifier","info":"","x":140.5,"y":318,"wires":[]},{"id":"5918164f.defbc8","type":"function","z":"25d46c73.3cafbc","name":"Found a match","func":"\nmsg.payload=\"Watson using your customized classifier sees: \\n \";\n\nmsg.payload +=  msg.result.images[0].classifiers[0].classes[0].class + \" with a score of \" + msg.result.images[0].classifiers[0].classes[0].score + \"\\n\" ;\n\nreturn msg;","outputs":1,"noerr":0,"x":865,"y":374,"wires":[["a7530bed.ab274"]]},{"id":"377b0784.cec4c8","type":"inject","z":"25d46c73.3cafbc","name":"Negative","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":425,"wires":[["57aa1533.e17b94"]]},{"id":"b56677c0.f7c8e","type":"debug","z":"25d46c73.3cafbc","name":"","active":true,"console":"false","complete":"result","x":515,"y":494,"wires":[]},{"id":"bbc2b522.2ca32","type":"switch","z":"25d46c73.3cafbc","name":"","property":"result.custom_classes","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":695,"y":434,"wires":[["5918164f.defbc8"],["e68266e3.0bae78"]]},{"id":"e68266e3.0bae78","type":"function","z":"25d46c73.3cafbc","name":"No match","func":"\nmsg.payload=\"Watson didn't find a match for your classifier.\";\n\nreturn msg;","outputs":1,"noerr":0,"x":865,"y":454,"wires":[["a7530bed.ab274"]]}]