mimmitkoodaa_visualRecognition_flow.json
[{"id":"3b766102.c36c1e","type":"debug","z":"25d46c73.3cafbc","name":"","active":true,"console":"false","complete":"payload","x":715,"y":134,"wires":[]},{"id":"20a5e27d.ebd146","type":"inject","z":"25d46c73.3cafbc","name":"","topic":"","payload":"https://www.ksml.fi/incoming/rjpxa9-2636728_.jpg/ALTERNATES/FREE_1140/2636728_.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":134,"wires":[["647ced19.da84fc"]]},{"id":"647ced19.da84fc","type":"visual-recognition-v3","z":"25d46c73.3cafbc","name":"Detect Faces","apikey":"bbdf52eb3395f9481cc4748584c37c86c2044378","image-feature":"detectFaces","lang":"en","x":315,"y":134,"wires":[["572e3de8.eac59c"]]},{"id":"7df937cf.e4c918","type":"visual-recognition-v3","z":"25d46c73.3cafbc","name":"Recognize Text","apikey":"bbdf52eb3395f9481cc4748584c37c86c2044378","image-feature":"recognizeText","lang":"en","x":325,"y":194,"wires":[["c45dd32e.02193"]]},{"id":"3ddbd769.a02be8","type":"inject","z":"25d46c73.3cafbc","name":"","topic":"","payload":"https://i.pinimg.com/736x/66/b1/22/66b122ce13521ae8465d4a4f1184d673--dark-quotes-good-quotes.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":194,"wires":[["7df937cf.e4c918"]]},{"id":"572e3de8.eac59c","type":"function","z":"25d46c73.3cafbc","name":"Parse output","func":"\nmsg.payload=\"Watson sees a face: \\n \";\n\nmsg.payload += \" Age between \" + msg.result.images[0].faces[0].age.max + \" and \" + msg.result.images[0].faces[0].age.min + \"\\nGender is \" + msg.result.images[0].faces[0].gender.gender + \" and Watson recognizes the person as \" +  msg.result.images[0].faces[0].identity.name + \" with a score of \" + msg.result.images[0].faces[0].identity.score + \"\\n\";\n\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":134,"wires":[["3b766102.c36c1e"]]},{"id":"c45dd32e.02193","type":"function","z":"25d46c73.3cafbc","name":"Parse output","func":"\nmsg.payload=\"Watson reads: \\n \";\n\nmsg.payload +=  msg.result.images[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":194,"wires":[["3b766102.c36c1e"]]},{"id":"676589b3.61f228","type":"comment","z":"25d46c73.3cafbc","name":"Visual Recognition default mode","info":"","x":161.5,"y":66,"wires":[]}]